<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuJShLRHUx5_L0K1ONIZsPcW5oMleyGf8</string>
	<key>GCM_SENDER_ID</key>
	<string>217505591949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dariyacode.Vanilla.Tokki</string>
	<key>PROJECT_ID</key>
	<string>tokki-korea</string>
	<key>STORAGE_BUCKET</key>
	<string>tokki-korea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:217505591949:ios:f33c0bec61f72faccfe8c4</string>
</dict>
</plist>
